/*********************************************************
    Animations
*********************************************************/

@keyframes scrollDown {
  0%{
    transform: translateY(20px);
    animation-timing-function: cubic-bezier(.65,.88,.36,.29);
  }
  50%{
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  100%{
    transform: translateY(20px);
    animation-timing-function: cubic-bezier(.65,.88,.36,.29);
  }
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes sign {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: 1368;}
}

@keyframes fill {
  0% {color: transparent;}
  50% {color: $color__white;}
  100% {color: $color__primary;}
}

@keyframes exitUp {
  from {transform: translate(0,0);}
  to {transform: translate(-100%,0);}
}
@keyframes exitDown {
  from {transform: translate(0,0);}
  to {transform: translate(100%,0);}
}