/*********************************************************
    Basic Content
*********************************************************/

.basic-content__scroll {
  position: relative;
  height: 45px;
  margin-bottom: 15px;
    margin-top: 30px;
}
      
.basic-content__scroll-down {
  display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 10;
}

.basic-content__scroll-down-line {
  position: relative;
  margin: 0 auto;
  width: 2px;
  background: black;
  z-index: 1;
  //animation: arrowDown 2s linear infinite forwards;
  &:after {
    content: '';
      position: absolute;
      height: 45px;
      top: 0px;
      width: 2px;
      background: black;
      left: 0;
  }
}