/*********************************************************
  Button
*********************************************************/

.btn {
  display: inline-block;
  padding: rem(10px) rem(10px) rem(8px);
  background: $color__primary; //btn default == primary
  color: $color__white;
  font-family: inherit;
  font-size: $font-size;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-out;
  &:hover, &:focus {
    color: white;
    background: $color__primary--dark;
  }
}

.btn--primary {
  background: $color__primary;
  color: $color__white;
  &:hover, &:focus {
    color: white;
    background: $color__primary--dark;
  }
}

.btn--secondary {
  background: $color__secondary;
  color: $color__white;
  &:hover, &:focus {
    color: white;
    background: $color__secondary--dark;
  }
}

.btn--transparent {
  background: transparent;
  color: $color__primary;
  &:hover, &:focus {
    color: $color__white;
    background: $color__primary;
  }
}

.btn--small {
  font-size: rem(14px);
  padding: rem(5px) rem(5px) rem(3px);
}

.btn--large {
  font-size: rem(18px);
  padding: rem(15px) rem(15px) rem(12px);
}

.btn--disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btn--block {
  display: block;
  max-width: 100%;
}

