/**
  * CTA
  */

.cta {
  text-align: center;
  color: $white;
  @include fluid-property(padding-top, 30, 60);
  @include fluid-property(padding-bottom, 40, 70);
  background: $grey;

  h2 {
    margin-bottom: 0.7em;
    text-transform: uppercase;
  }
}
