///
// Colors
////
$colors: (
  'primary': #b2d357,
  'green': #b2d357,

  'secondary': #00ace4,
  'blue': #00ace4,

  'accent': #fdbf29,
  'gold': #fdbf29,

  'background': #192f5a,
  'tertiary': #192f5a,
  'navy': #192f5a,

  'white': #ffffff,
  'black': #111111
);
@function color($name) { @return map-get($colors, $name); }

$greys: (
  1: #2F302E,
  'green': #2F302E,

  2: #404042,
  'blue': #404042,

  3: #2f2f2d,
  'base': #2f2f2d,

  4: #cccccc,
  'border': #dedede,

  5: #dedede,
  'light': #dedede,
);
@function grey($name) { @return map-get($greys, $name); }


///
// Fonts
////
$font-primary: 'Poppins', Arial, sans-serif;
$font-size: 16px;


///
// Breakpoints
////
$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 920px,
  'desktop-wide': 1200px
);
@function bp($size) { @return map-get($breakpoints, $size); }
@function breakpoint($size) { @return map-get($breakpoints, $size); }

$desktop-wide: breakpoint('desktop-wide');
$desktop: breakpoint('desktop');
$tablet: breakpoint('tablet');
$phone: breakpoint('mobile');
$mobile: breakpoint('mobile');

///
// BASE 64 ICONS / IMAGES
////

$chevron-left: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI0NnB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA0NiA2NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QYWdlIDEgQ29weSAyPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IkFib3V0IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE3LjAwMDAwMCwgLTMxNDQuMDAwMDAwKSI+ICAgICAgICA8cG9seWxpbmUgaWQ9IlBhZ2UtMS1Db3B5LTIiIHN0cm9rZT0iIzJGMzAyRSIgc3Ryb2tlLXdpZHRoPSIyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDAuNTAwMDAwLCAzMTc2LjAwMDAwMCkgcm90YXRlKC0xODAuMDAwMDAwKSB0cmFuc2xhdGUoLTE0MC41MDAwMDAsIC0zMTc2LjAwMDAwMCkgIiBwb2ludHM9IjExOSAzMTQ1IDE2MiAzMTc1Ljk5OTEgMTE5IDMyMDciPjwvcG9seWxpbmU+ICAgIDwvZz48L3N2Zz4=';

$chevron-right: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI0NnB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA0NiA2NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QYWdlIDEgQ29weTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJBYm91dCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyNzkuMDAwMDAwLCAtMzE0NC4wMDAwMDApIj4gICAgICAgIDxwb2x5bGluZSBpZD0iUGFnZS0xLUNvcHkiIHN0cm9rZT0iIzJGMzAyRSIgc3Ryb2tlLXdpZHRoPSIyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAxLjUwMDAwMCwgMzE3Ni4wMDAwMDApIHJvdGF0ZSgtMzYwLjAwMDAwMCkgdHJhbnNsYXRlKC0xMzAxLjUwMDAwMCwgLTMxNzYuMDAwMDAwKSAiIHBvaW50cz0iMTI4MCAzMTQ1IDEzMjMgMzE3NS45OTkxIDEyODAgMzIwNyI+PC9wb2x5bGluZT4gICAgPC9nPjwvc3ZnPg==';

$menu-close: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCAzNTcgMzU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNTcgMzU3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGcgaWQ9ImNsb3NlIj48cG9seWdvbiBwb2ludHM9IjM1NywzNS43IDMyMS4zLDAgMTc4LjUsMTQyLjggMzUuNywwIDAsMzUuNyAxNDIuOCwxNzguNSAwLDMyMS4zIDM1LjcsMzU3IDE3OC41LDIxNC4yIDMyMS4zLDM1NyAzNTcsMzIxLjMgICAgIDIxNC4yLDE3OC41ICAgIiBmaWxsPSIjRkZGRkZGIi8+PC9nPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=';

