/**
  * Footer
  */

.footer {
  text-align: center;
  padding: 3em 0;
}

.footer__logo {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 1.5em;
}

.footer__info {
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

.footer__images {
  display: flex;
  justify-content:  center;
  align-items:  center;
  margin-bottom: 1.5em;
  width: 100%;
}

