/*********************************************************
  Section
*********************************************************/

.section {
  padding: 5em 0;
}

.section--sm {
  padding: 3em 0;
}

.section--md {
  padding: 7em 0;
}

.section--lg {
  padding: 9em 0;
}
