/**
  * Section
  */

.section {
  padding: 5em 0;
}

.section--sm {
  padding: 3em 0;
}

.section--secondary {
  background: color('secondary');
  color: white;

  &.section--offset-image {
    background: transparent;
    position: relative;
    @media (min-width: $desktop) {
      margin-top: 100px;
    }

    .section__bg {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: color('secondary');
      @media (min-width: bp('desktop')) {
        left: -20%;
      }
    }
    .container {
      position: relative;
      z-index: 1;
    }

    .section__image {
      position: relative;
      margin-top: 30px;
      @media (min-width: $desktop) {
        margin-top: -120px;
      }
    }

    .section__shape {
      height: 400px;
      width: 400px;
      border: 3px solid color('primary');
      position: absolute;
      top: -30px;
      right: -30px;
      @media (max-width: $desktop) {
        display: none;
      }
    }
  }
}

.section__description {
  max-width: 20em;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 2.5em;
}

.section--tertiary {
  background: color('tertiary');
  color: white;
}

.section.has-image {
  position: relative;
  .section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet) {
      background-attachment: fixed;
    }
  }

}

.section__content {
  font-size: 1.3em;
  font-weight: normal;
}

.section--image-left {
  @include fluid-property(margin-top,10, 100, $tablet, $desktop);
  @include fluid-property(padding-top,20, 50, $tablet, $desktop);
  margin-bottom: 7em;
  position: relative;
  @media (max-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3em 0;
  }

  .section__img {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: $tablet) {
      position: relative;
    }
  }

  .row {
    min-height: 400px;
    align-items: center;
  }
}

.shape-wrapper {
  position: relative;
}

.section__content--right {
  @media (min-width: $tablet) { padding-left: 4em; }
  @media (max-width: $tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.content {
  padding-top: 80px;
  min-height: 500px;
}
