/*********************************************************
  Typography
*********************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: $font__heading;
  font-weight: 700;
  line-height: 1.3;
  margin-top: rem(20);
}

//@TODO: consider using fluid typopgraphy mixin
h1, .h1 {
  font-size: rem(28);
  @media (min-width: $tablet) {
    font-size: rem(58);
  }
}

h2, .h2 {
  font-size: rem(28);
  @media (min-width: $tablet) {
    font-size: rem(52);
  }
}

h3, .h3 {
  font-size: rem(24);
  @media (min-width: $tablet) {
    font-size: rem(46);
  }
}

h4, .h4 {
  font-size: rem(22);
  @media (min-width: $tablet) {
    font-size: rem(38);
  }
}

h5, .h5 {
  font-size: rem(18);
  @media (min-width: $tablet) {
    font-size: rem(28);
  }
}

h6, .h6 {
  font-size: rem(16);
  @media (min-width: $tablet) {
    font-size: rem(16);
  }
}

p {
  margin: 0 0 rem(20) 0;
}

a {
  color: $color__secondary;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-out;
  &:hover, &:focus {
    color: $color__secondary--dark;
  }
}

strong { 
  color: currentColor; 
}

address {
  font-style: normal;
}

blockquote {
  color: $color__primary;
}

pre {
  padding: 20px;
  background: $color__black;
  color: $color__white;
}