/*********************************************************
  Utility / Helper Classes
  @NOTE: prefix with ".u-"
*********************************************************/

/**
  * Visibility
  */
.u-visible-desktop {
  display: none;
  @media (min-width: $desktop) { display: block; }
}

.u-hidden-desktop {
  @media (min-width: $desktop) { display: none; }
}

.u-hidden-sm {
  @media (max-width: $tablet) { display: none !important; }
}

/**
  * Alignments
  */
.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

/**
  * Text Colors
  */

.u-color-white {
  color: $color__white !important;
}

.u-color-primary {
  color: $color__primary !important;
}

.u-color-link {
  color: $color__secondary !important;
}

.u-color-secondary {
  color: $color__secondary !important;
}

/**
  * Background Colors
  */

.u-bg-primary {
  background-color: $color__primary;
}

.u-bg-secondary {
  background-color: $color__secondary;
}

.u-bg-white {
  background-color: $color__white;
}

/**
  * Fonts
  */

.u-font-heading {
  font-family: $font__heading;
}

.u-font-body {
  font-family: $font__heading;
}
