/*********************************************************
  Main.scss == Table of Contents
*********************************************************/

/**
  * -- BASE
  */
@import 'global/variables';
@import 'global/mixins';
@import 'global/reset';
@import 'global/dom';
@import 'global/typography';
@import 'global/utility';

/**
  * -- LAYOUT
  */
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/section';

/**
  * -- COMPONENTS
  */
@import 'components/nav';
@import 'components/button';
@import 'components/hero';
@import 'components/cta';
@import 'components/carousel';
@import 'components/form';

/**
  * -- TEMPLATES
  */
@import 'templates/about';
