.intro-text {
  p {
    margin-bottom: 0;
  }
}

.solution-box {
  position: relative;
}

.solution-box__bg {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: color('accent');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $tablet) {
    width: 100%;
    background-image: none !important;
    background-color: darken(color('accent'),5%);
  }

  .solution-box--reverse & {
    right: initial;
    left: 0;
    background-color: color('secondary');
  }
}


.solution-box__row {
  align-items: center;
  min-height: 600px;

  @media (max-width: $tablet) {
    min-height: auto;
    padding: 3em 0;

    .hr--accent {
      border-color: white;
    }
  }

  .solution-box--reverse & {
    flex-direction: row-reverse;
  }
}

.solution-box__content {
  padding-right: 3em;

  @media (max-width: $tablet) {
    color:white;
    padding-right: 0;
  }

  .solution-box--reverse & {
    padding-right: 0;
    padding-left: 3em;

    @media (max-width: $tablet) {
      color: white;
      padding-left: 0;
    }
  }

  p {
    font-size: 1.1em;
  }
}

.solution-box__bg--manage {
  background-color: color('primary');

  @media (max-width: $tablet) {
    background-color: darken(color('primary'),5%);
  }
}
